@font-face {
  font-family: cyber;
  src: url(./media/fonts/cyber.ttf);
}
.homepage-h1-wrap {
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    right:  0px;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
}
.homepage-h1-wrap div {
  background-color: black;
  width: 100%;
  height: 50px;
  margin-top: clamp(30px, 4%, 85px);
  display: flex;
  justify-content: left;
}
.homepage-h1-wrap h1 {
  text-align: center;
  font-family: cyber;
  font-size: 40px;
  background-color: black;
  height: 50px;
  width: 200px;
  background: -webkit-linear-gradient( red, #fc00ff, #00dbde);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 1%;
}
.homepage-h1-wrap img {
    width: 8%;
    min-width: 100px;
    align-self: center;
    border-radius: 50%;
    border: solid 10px black;
    margin-left: 1%;
}
.homepage-carousel-wrapper {
    width: 100%;
    height: 100%;
    position:fixed; /* add this code for position fixed */
    top:0px; /* set top and left 0 */
    z-index: -10000;
}
.homepage-carousel-wrapper .homepage-carousel {
    height: 100% !important;
}
.homepage-carousel-wrapper .homepage-carousel .carousel-slider {
    height: 100% !important;
}
.homepage-carousel-wrapper .homepage-carousel .carousel-slider div {
    height: 100% !important;
}
.homepage-carousel-wrapper .homepage-carousel .carousel-slider ul {
    height: 100% !important;
}
.homepage-carousel-wrapper .homepage-carousel ul div {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.homepage-carousel-wrapper .homepage-carousel ul div img {
    height: 100%;
    width: auto;
    min-width: 100%;
}
.homepage-carousel .carousel .slide .legend {
  opacity: 1;
  width: 100%;
  left: 0;
  margin-left: 0;
  border-radius: 0;
}
.homepage-carousel .colour {
    background-image: url(./media/colour.jpg);
}
.homepage-carousel .sunset {
    background-image: url(./media/sunset.jpg);
}
.homepage-carousel .building {
    background-image: url(./media/building.jpg);
}
.homepage-carousel .alley {
    background-image: url(./media/alley.jpg);
}
.homepage-carousel .punk {
    background-image: url(./media/punk.jpg);
}
.homepage-carousel .arcade {
    background-image: url(./media/arcade.jpg);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
